<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuoteSenpai</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="logo">AniPick</div>
     <h1>Random Anime Suggestion</h1>
    <div class="title">
       <h3> "<%= title %>"</h3>
    </div>
    <div class="episode"> Number of episodes: <%= episodes %></div>
    </body>
    <button onclick="location.reload()">New Anime</button>
</html>